a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
}

#bio {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 150px 0;
}

.contact {
    font-family: 'Copse', serif;
    font-size: 18px;
    background-color: white;
    color: #16FF00;
    border: 1px solid #16FF00;
    height: 30px;
    width: 120px;
    align-self: center;
    margin-bottom: 15px;
    margin-right: 20px;
}

#contact {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #16FF00;
    text-align: center;
    font-family: 'Mallanna', sans-serif;
}

#contact > h1 {
    color: white;
    margin: 0;
    font-size: 50px;
    font-family: 'Copse', serif;
}

#contact > h2 {
    margin: 0;
}

#download-btn {
    align-self: center;
    font-family: 'Mallanna', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    height: 50px;
}

#download-btn:hover {
    background-color: orangered;
}

#my-name {
    margin-left: 20px;
    margin-bottom: 15px;
    align-self: flex-start;
    width: 70%;
}

.my-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 100px;
    margin-top: 80px;
    margin-left: 100px;
}

#navbar {
    position: fixed;
    width: 100%;
    font-family: 'Copse',serif;
    color: #16FF00;
    background-color: black;
    display: flex;
    flex-direction: row;
}


.links {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.links > a {
    text-align: center;
    text-decoration: none;
    color: #16FF00;
}

#portfolio {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
}

#portfolio > h2 {
    font-family: 'Copse', serif;
    text-align: center;
}

.proj-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.proj-card {
    margin: 50px 0;
    width: 340px;
    height: 380px;
    border-radius: 10px;
    background-color: black;
}

.proj-img-cont {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.proj-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.proj-title {
    text-align: center;
    font-family: 'Copse', serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: #16FF00;
}

.proj-title:hover {
    color: green;
}

.proj-desc {
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Mallanna', sans-serif;
    font-size: 23px;
}

progress {
    color: #16FF00;
}

progress::-moz-progress-bar {
    background: white;
}

progress::-webkit-progress-value {
    background: #16FF00;
}




#quote {
    padding-top: 120px;
    height: 550px;
    font-family: 'Copse', serif;
    font-size: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#quote-line {
    text-align: center;
}

strong {
    color: white;
}

#skills {
    padding-top: 80px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
}

#skills > h1 {
    font-family: 'Copse', serif;
    font-size: 55px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

svg {
    position: relative; 
    top: 4px;
}

.techs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #16FF00;
    font-family: 'Copse', serif;
}

.tech {
    width: 50%;
    margin-left: 100px;
}

.work {
    align-self: center;
    font-family: 'Mallanna', sans-serif;
    font-size: 22px;
    margin: 15px 50px;
    color: #16FF00;

}